<div class="row mb-5">
    <div class="col-xs-12">
        <div class="card mt-2" style="width: 18rem;" >
            <img [src]="recipes.image" class="card-img-top img-responsive" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{recipes.name}}</h5>
              <p class="card-text">{{recipes.description}}</p>
              <a href="#" class="btn btn-primary" [routerLink] = "['/recipes',recipes.name]">Details</a>
            </div>
          </div>
    </div>
</div>
