<div class="row">
    <div class="col-sm-12">
            <form #form="ngForm" (ngSubmit)="onAddItem()">
                <div class="row">        
                    <div class="col-sm-5">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" name="item" ngModel required>
                    </div>
                    <div class="col-sm-2">
                        <label for="amount">Amount</label>
                        <input type="number" id="amount" class="form-control" name="amount" ngModel required pattern="^[1-9]+[0-9]*$">
                    </div>        
                </div>
                <div class="row mt-2 ml-1">
                    <div class="col-xs-12">
                        <button class="btn btn-success mr-1" type="submit" [disabled]="!form.valid">{{ editMode ? 'Update':'Add' }}</button>
                        <button class="btn btn-danger mr-1" type="button" (click)="delete()" *ngIf="editMode"> Delete</button>
                        <button class="btn btn-primary" type="button" (click)="clear()"> Clear</button>
                    </div>
                </div>
            </form>
    </div>
</div>

